{{> header}}

<div id="contents">
  <div class="box">
    <div class="body">
      <h1>Error</h1>
      <p style="color: red; font-weight: bold;">
        {{message}}
      </p>
      <p>
        Please go back to the <a href="/">home page</a> or try a different link from the menu.
      </p>
    </div>
  </div>
</div>

{{> footer}}
